
body {
    background-image:url("./images/backGround.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Roboto sans-serif;
    text-align: center;

}

.app {
    background-image: url('../src/images/backGround.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: center;
}


.logo-login {
    padding-top: 10px;
    padding-left: 56px;
    margin-bottom: -20px;
    display: flex;
    justify-content: center;
    width: 70%;
}



.head-bar {
    display: inline-block;
    justify-content: space-between;
    cursor: pointer;
}

#navBar {
    min-width: 600px;
}

.menu-bar {
    margin-bottom: 20px;
}


#addEvent {
    justify-content: center;
    display: flex;
    font-size: 70px;
    padding-top: 20px;
    padding-bottom: -20px;

}
/*.mainLogo {*/
/*    display: flex;*/
/*    width: 20%;*/
/*}*/

#event {
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
}
.mainLogo {
    height: 80px;
    cursor: pointer;
}

.sign-container {
    padding: 20px 0;
}

.start {
    align-content: start;
}

.center {
    align-content: center;
}

.end {
    align-content: end;
}

/*slider in humidity*/
.css-1z13ce1 {
    margin: auto;
}

/*humidity meter*/
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    padding: 20px;
}


header {
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 20px;
}

.body-box {
    padding-top: 40px;
    margin-bottom: -20px;
}

.buttone-box {
    width: 60%;
    margin-left: -40px;
}

.logo-box {
    width: 260px;
    align-items: start;
    height: 100px;
}

.account-icon {
    width: 200px;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: -10px;
}