.logo {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
}
header {
    justify-content: center;
}

#navBar {
    justify-content: center;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}
#addEvent {
    justify-content: center;
    display: flex;
    font-size: 70px;
}
.mainLogo {
    display: flex;
    width: 20%;
}